<section class="About">
  <div class="About-textContainer">
    <h1 class="About-paragraph">
      O que faz a ADEFS?
    </h1>
    <p class="About-paragraph">
      - Promove e estabelece ligação com as populações locais e das instituições de carácter público ou privado.
    </p>
    <p class="About-paragraph">
      - Promove o desenvolvimento local e regional.
    </p>
    <p class="About-paragraph">
      - Valoriza os recursos humanos, naturais e civilizados da região.
    </p>
  </div>
</section>
