<section id="gallery_two" class="Gallery">
    <a href="path/to/myimage1_original.jpg">
        <img alt="Title 1" src="images/photo1.jpg"/>
    </a>
    <a href="path/to/myimage2_original.jpg">
        <img alt="Title 2" src="images/photo2.jpg"/>
    </a>
    <a href="path/to/myimage1_original.jpg">
        <img alt="Title 1" src="images/photo3.jpg"/>
    </a>
    <a href="path/to/myimage2_original.jpg">
        <img alt="Title 2" src="images/photo4.jpg"/>
    </a>
    <a href="path/to/myimage1_original.jpg">
        <img alt="Title 1" src="images/photo5.jpg"/>
    </a>
    <a href="path/to/myimage2_original.jpg">
        <img alt="Title 2" src="images/photo6.jpg"/>
    </a>
    <a href="path/to/myimage1_original.jpg">
        <img alt="Title 1" src="images/photo7.jpg"/>
    </a>
    <a href="path/to/myimage2_original.jpg">
        <img alt="Title 2" src="images/photo8.jpg"/>
    </a>
    <a href="path/to/myimage1_original.jpg">
        <img alt="Title 1" src="images/photo9.jpg"/>
    </a>
    <a href="path/to/myimage2_original.jpg">
        <img alt="Title 2" src="images/photo10.jpg"/>
    </a>
    <a href="path/to/myimage1_original.jpg">
        <img alt="Title 1" src="images/photo11.jpg"/>
    </a>
    <a href="path/to/myimage2_original.jpg">
        <img alt="Title 2" src="images/photo12.jpg"/>
    </a>
    <a href="path/to/myimage1_original.jpg">
        <img alt="Title 1" src="images/photo13.jpg"/>
    </a>
    <a href="path/to/myimage2_original.jpg">
        <img alt="Title 2" src="images/photo14.jpg"/>
    </a>
    <a href="path/to/myimage2_original.jpg">
        <img alt="Title 2" src="images/photo15.jpg"/>
    </a>
</section>
