<section id="gallery_two" class="Gallery">
  <a href="images/photo1.jpg" target="blank">
    <img src="images/photo1.jpg"/>
  </a>
  <a href="images/photo2.jpg" target="blank">
    <img src="images/photo2.jpg"/>
  </a>
  <a href="images/photo3.jpg" target="blank">
    <img src="images/photo3.jpg"/>
  </a>
  <a href="images/photo4.jpg" target="blank">
    <img src="images/photo4.jpg"/>
  </a>
  <a href="images/photo5.jpg" target="blank">
    <img src="images/photo5.jpg"/>
  </a>
  <a href="images/photo14.jpg" target="blank">
    <img src="images/photo14.jpg"/>
  </a>
  <a href="images/photo7.jpg" target="blank">
    <img src="images/photo7.jpg"/>
  </a>
  <a href="images/photo8.jpg" target="blank">
    <img src="images/photo8.jpg"/>
  </a>
</section>
