<section id="gallery" class="Gallery">
  <a href="images/photo9.jpg" target="blank">
    <img src="images/photo9.jpg"/>
  </a>
  <a href="images/photo10.jpg" target="blank">
    <img src="images/photo10.jpg"/>
  </a>
  <a href="images/photo11.jpg" target="blank">
    <img src="images/photo11.jpg"/>
  </a>
  <a href="images/photo12.jpg" target="blank">
    <img src="images/photo12.jpg"/>
  </a>
  <a href="images/photo13.jpg" target="blank">
    <img src="images/photo13.jpg"/>
  </a>
  <a href="images/photo6.jpg" target="blank">
    <img src="images/photo6.jpg"/>
  </a>
  <a href="images/photo15.jpg" target="blank">
    <img src="images/photo15.jpg"/>
  </a>
</section>
