<section class="Services">
  <div class="Services-textContainter">
    <h1 class="Services-title">Porquê recorrer à ADEFS?</h1>
    <p>
      Se tem uma ideia de negócio que gostaria de implementar, se sabe alguma arte que acredita que vai criar valor, se conhece alguma tradição que não gostaria de ver perdida a ADEFS é a entidade certa para o ajudar.
    </p>
    <p>
      A ADEFS tem como tarefa primordial ajudar pessoas empreendedoras a concretizar os seus projetos, ajudando com os mais diversos recursos, desde cedência de espaços, formações adequadas até ao acompanhamento dos diversos projectos ao longo do tempo.
    </p>
    <p>
      Se tem força de vontade de iniciar um projecto, mas não tens nenhuma ideia em concreto não deixe de contactar a associação.
    </p>
    <p>
      É apenas preciso ter em conta que a associação tem como objectivo promover o desenvolvimento de actividades turísticas na zona de Almeida.
    </p>
  </div>
</section>
