.About {
  display: flex;
  color: $grey;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: $white;
}

.About-textContainer {
  max-width: 960px;
  padding: 50px;
}
