.Contacts {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $white;
  background: $blue;
}

.Contacts-textContainer {
  max-width: 960px;
}
