$overlay-color: $black;
$overlay-opacity: 0.6;

.Intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-image: url('../images/main_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Intro-header {
  color: $grey;
  text-align: center;
}

.Intro-subHeader {
  color: $grey;
  text-align: center;
}
